
<div id="part1">
  <h1 id="home">Co-create.</h1>

  <div class="image-container">
    <div id="hover">
    <%= image_tag('ideas.jpg', :alt => "creative_ideas") %>
    <div id="thinking">Thinking of a master plan!</div>  
  </div>
  <div id='create-message'>
    <p id='message'>
      Do you like to create? Me too! Let's <a href="/contact">create</a> together!</div>
    </p>
</div>

<div id="part2">
</div>